html {
	width                                                          : 100%;
	height                                                         : 100%;
}

body {
	width                                                          : 100%;
	height                                                         : 100%;
	margin                                                         : 0 auto;
	padding                                                        : 0;
	margin                                                         : 0 auto;
	font-family                                                    : $font-family;
	font-size                                                      : $app-base-font-size;
	line-height                                                    : $app-base-line-height;
	background-color                                               : $white-color;	
}

#root {
	width                                                          : 100%;
	height                                                         : 100%;
}

.main-container {
	width                                                          : 100%;
	height                                                         : 100%;
	padding                                                        : 1%;
	background-color                                               : $background-color;
	overflow                                                       : hidden;
}