.entry-container {
	display                                                        : table;
	width                                                          : 80%;
	height                                                         : 100%;
	margin                                                         : 0 10%;
	padding                                                        : 0 2%;
	.entry-wrapper {
		position                                                   : relative;
		display                                                    : table-cell;
		vertical-align                                             : middle;
		width                                                      : 100%;
		height                                                     : auto;
		background-image                                           : url('~images/fundo.png');
		background-size                                            : contain;
		background-position                                        : center;
		background-repeat                                          : no-repeat;
		.dice-wrapper {
			position                                               : absolute;
			top                                                    : calc(50% - 105px);
			left                                                   : -10%;
			cursor                                                 : pointer;
			.die-container {
				display                                            : block !important;
				.face {
					border-radius                                  : 6px;
				}
			}
		}
		.pin {
			position                                               : absolute;
			right                                                  : -10%;
			display                                                : inline-block;
			width                                                  : 10%;
			height                                                 : 18%;
			background-size                                        : contain;
			background-position                                    : center;
			background-repeat                                      : no-repeat;
		}
	}
}