$app-min-width                                 : 320px;
$app-max-width                                 : 1224px;
$app-base-font-size                            : 16px;
$app-base-line-height                          : 1;

$background-color                              : #231F20;
$white-color                                   : white;
$black-color                                   : #3A3A3A;
$main-color                                    : #EF545D;
$btn-color                                     : #38ACBA;
$btn-disabled-color                            : #D7D9D9;
$btn-darker-color                              : #2D929F;

$font-family                                   : Arial, Helvetica, sans-serif;
